body {
    background-image: url(https://wallpaperaccess.com/full/733839.jpg);
}

.relative {
    justify-content: center;
}

#data {
    text-shadow:-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-weight: bold;
    font-size: 1.5em;
}

#header {
    text-align: center;
    padding: 20px;
    font-family: 'Chakra Petch', sans-serif;
    border-radius: 35px;
    background-image: url(https://www.seekpng.com/png/small/52-527367_stick-man-clipart-black-and-white-olympic-sports.png);
}

#header2 {
color: white;
margin-top: 20px;
background-image: url(Assets/footballbanner.jpg);
background-size: cover;
font-family: 'Chakra Petch', sans-serif;
text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

#team {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    border: 1.5px solid white;
    width: 300px
    
}

.columnData {
    text-align: center;
    margin-top: 20px;
    min-width: 500px;
    min-height: 500px;
    max-height: 750px;
    font-family: 'Chakra Petch', sans-serif;
}

img {
    display: inline;
}

#weatherCss {
    padding: 20px;
    margin-top: 20px;
    min-width: 500px;
    min-height: 500px;
    max-height: 750px;
    font-family: 'Chakra Petch', sans-serif;
}

#stadiumCss {
    padding: 20px;
    margin-top: 20px;
    min-width: 500px;
    min-height: 500px;
    max-height: 750px;
    font-family: 'Chakra Petch', sans-serif;
}

#oddsCss {
    padding: 20px;
    margin-top: 20px;
    min-width: 500px;
    min-height: 500px;
    max-height: 750px;
    font-family: 'Chakra Petch', sans-serif;
}

#title {
    background-color: black;
    max-width: 500px;
    margin: 0 auto;
    color: white;
    border-radius: 15px;
    padding: 2px;
    font-family: 'Chakra Petch', sans-serif;
}
